<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<link rel="stylesheet" type="text/css" href="/assests/CSS/reset.css">
    <link rel="stylesheet" type="text/css" href="/assests/CSS/burger_style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Crafty+Girls|Fontdiner+Swanky" rel="stylesheet">

	<title>EAT DA BURGER!</title>
</head>

<body>

	{{{ body }}}

<footer class="burgerFooter">
		<div class="footer-copyright">
			<div class="container">
				<p><a href="https://github.com/arielqns/eat-da-burger-" target="_blank"><i class="fa fa-github" aria-hidden="true"></i> GitHub Repo</a></p>
			</div>
		</div>
	</footer>

</body>
</html>